* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.info-container {
    border: 1px solid gray;
    box-shadow: 3px 2px 2px;
    background-color: gray;
    width: 90%;
    height: fit-content;
    padding: 5px;
}